<header>
    <a href="http://eutelnet.biz" target="_blank" class="logo">eutelnet</a>
    <h1>Eutelnet Team Schedule</h1>
    <nav>
        <a (click)="logout(e)"><i class="fa fa-power-off" aria-hidden="true"></i></a>
    </nav>
</header>
<main>
    <nav>
        <a title="Schedule"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
    </nav>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>