<p-growl [value]="msgs"></p-growl>

<div id="workers">
    <template [ngIf]="workers | async">
        <div *ngFor="let worker of (workers | async)" class="worker">
            
            <h3 class="header">
                <canvas #avatarEl [attr.data-name]="worker.name" class="avatar"></canvas>  
                <a (click)="removePerson(worker.$key)"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div #nameFormHolder>
                    <span (click)="toggleFormEl(nameFormHolder)">{{ avatarEl | avatar }}</span>
                    <form #workerNameForm="ngForm" (ngSubmit)="updatePerson(worker.$key, workerNameForm, nameFormHolder)">
                        <input type="text" pInputText ngControl="name" [(ngModel)]="worker.name" (keydown)="onKeyDown($event, nameFormHolder)" required />
                    </form>
                </div>
            </h3>
            
            <!-- worker projects -->
            <ul *ngIf="worker.projects">
                <li *ngFor="let project of (worker.projects | values)" [class.passed]="isPast(project.term)">
                
                    <a (click)="removeProject(worker.$key, project.$key)" class="remove-project"><i class="fa fa-times" aria-hidden="true" pTooltip="Remove Project" tooltipPosition="left"></i></a>
                    
                    <i class="code-icon fa fa-pencil-square-o" aria-hidden="true" (click)="toggleFormEl(projectEditorHolder)"></i>
                    
                    <!-- data -->
                    <h4 (click)="toggleFormEl(projectEditorHolder)">{{project.title}}</h4>
                    <p class="meta" *ngIf="project.type || project.term" (click)="toggleFormEl(projectEditorHolder)">
                        {{project.type}}<span *ngIf="project.type && project.term"> | </span>{{project.term}}
                    </p>
                    <p *ngIf="isPast(project.term)"><i class="fa fa-check" aria-hidden="true"></i> this project's due date passed</p>
                    <p style="color:#be0000" *ngIf="isExpiryPeriod(project.term)"><i class="fa fa-clock-o" aria-hidden="true"></i> this project is soon to expire</p>
                    
                    <div #projectEditorHolder>
                        <form #projectEditForm="ngForm" (ngSubmit)="updateProject(projectEditForm, worker.$key, project.$key)">
                            <input type="text" pInputText ngControl="title" [(ngModel)]="project.title" required /><br>
                            <input type="text" pInputText ngControl="type" [(ngModel)]="project.type" required /><br>
                            <p-calendar ngControl="term" [(ngModel)]="project.term" required></p-calendar>
                            <br />

                            <button class="btn" type="submit">Save</button>
                            <button class="btn" type="button" (click)="toggleFormEl(projectEditorHolder)">Cancel</button>
                        </form>
                </div>
                    
                </li>
            </ul>
        
            <div class="add-proj-form text-center p10">
                <div #formEl>
                    <button class="round-btn mb15" type="button" (click)="toggleFormEl(formEl)">
                        <i class="fa fa-plus" aria-hidden="true" pTooltip="New Project for {{worker.name}}" tooltipPosition="bottom"></i>
                    </button>
            
                    <form #theForm="ngForm" (ngSubmit)="addProject(theForm, worker.$key); projectName.value=''; dateTerm.value=''; projectType.value=''">
                        <input type="text" #projectName ngControl="title" placeholder="Project Title..." pInputText required /><br>
                        <input type="text" #projectType ngControl="type" placeholder="Project Type..." pInputText required /><br>
                        <p-calendar ngControl="term" #dateTerm placeholder="Date Term..." required></p-calendar>
                        
                        <br>
                        <button class="btn" type="submit" [disabled]="!theForm.valid">Submit</button>
                    </form>
                </div>    
            </div>
            
        </div>
        
        <div class="worker">
            <!-- Add New Person Form -->
            <form [ngFormModel]="addPersonForm" (ngSubmit)="addPerson()">
                <input type="text" [ngFormControl]="addPersonForm.controls.name" pInputText placeholder="Add new person data..." style="margin: 5px 10px 5px 0; vertical-align:middle" />
                <button type="submit" class="btn icon-btn">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>
            </form>
        </div>
    </template>
    <template [ngIf]="!(workers | async)">
        Loading data...
    </template>
</div>