@etl-blue:          #0f92bd;
@gray:              #dedede;
@dark: 				#202020;

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
		url('../fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('../fonts/ProximaNova-Extrabld.woff2') format('woff2'),
		url('../fonts/ProximaNova-Extrabld.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
		url('../fonts/ProximaNova-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
.text-center {
	text-align: center;
}
.p10 {padding: 10px;}
.mb15 {margin-bottom: 15px;}

*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
 
html {height: 100%; position: relative;}
body {
	margin: 0; padding: 0;
    font-family: 'Proxima Nova Rg';
    background: @dark;
}

.splashscreen {
    text-align: center; height: 100%; color: @gray;
    figure {
        margin: 20px 0;
        &.logo {padding-top: 200px;}
    }
}

.login-page {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    overflow: auto; 
    padding: 3em; 
    text-align: center;
    box-sizing: border-box;
    
    .form-content {
        width: 33.33333%; margin-left: 33.33333%;
        padding: 40px 0;
        .form-group {
            padding: 8px 0; margin-bottom: 1rem;
            
            input[type="text"], input[type="password"] {
                display: block;
                width: 100%; height: 46px; 
                padding: 10px 16px; 
                color: #fff; font-size: 18px; line-height: 1.33;
                background: none;
                border: none; border-bottom: 2px solid rgba(255,255,255,0.5);
                box-shadow: none;
                box-sizing: border-box;
                outline: none !important;
                
                &.ng-invalid.ng-dirty {
                    border-bottom-color: #be0000;
                }
            }
        }
        
        @media screen and (max-width: 800px) {
            width: 100%; margin-left: 0; 
        }
        
    }
    button {
        display: inline-block; vertical-align: middle; 
        padding: 0 25px; margin-bottom: 10px;
        text-align: center; white-space: nowrap; font-weight: 400; 
        color: rgba(255,255,255,0.75); font-size: 18px; line-height: 40px; text-decoration: none;
        background: #222; 
        border: 2px solid rgba(255,255,255,0.75); border-radius: 50px;
        outline: none !important; 
        
        &:hover {color: @etl-blue; border-color: @etl-blue; cursor: pointer;}
    }
    p {
        font-size: 13px;
        a {color: #fff; cursor: pointer;}
    }
}

header {
	.clearfix();
	position: fixed; top: 0; left: 0; right: 0; z-index: 2;
	padding-left: 58px; 
	background: lighten(@gray, 10%);
	.logo {
		position: fixed; top:0; left:0; z-index: 10;
		float: left;
		width: 58px; height: 48px;
		background: black url(../img/logo-small.png) 50% 50% no-repeat; background-size: 21px 21px;
		text-indent: -9999px;
		cursor: pointer;
	}
	h1 {
		width: 100%;
		margin: 0; padding: 11px 65px 13px 40px;
		font-size: 20px; font-weight: normal; line-height: normal;
		white-space: nowrap; text-overflow: ellipsis;
		overflow:hidden;
		
		@media screen and (max-width: 481px) {
			padding-left: 30px;
		}
	}
	nav {
		position: absolute; top: 0; right: 0; z-index: 5;
		float: right; padding: 0 5px 0 10px;
		> * {
			float: left;
			i {
				display: block;
				padding: 16px;
				font-size: 17px; color: @etl-blue;
				cursor: pointer;
			}
		}
	}
}
main {
	position: static;
	height: 100%;
	padding-left: 58px; padding-top: 48px;
	background: #ffffff;
	nav {
		position: fixed; top: 0; left: 0; bottom: 0; z-index: 1;
		width: 58px; height: 100%;
		padding: 75px 0 0;
		background: @etl-blue;
		a {
			display: block;
			padding: 18px;
			font-size: 18px; color: @etl-blue; 
			background: white;
			cursor: pointer;
		}
	}
	.content {
		padding: 40px 40px 0;
		#workers {
			display: flex; flex-wrap: wrap;
		}
		
		.worker {
			display: flex-box; flex-grow: 0;
			width: 25%; 
			padding: 20px 20px 50px; margin: 0;
			border-bottom: 1px solid lighten(@gray, 5%);
			border-right: 1px solid lighten(@gray, 5%);
			
			&:last-child {
				padding-bottom: 150px;
				form {padding-top: 43px;}
			}
			
			.header {
				position: relative; z-index: 1;
				padding: 5px 5px 0 50px; margin: 0 0 20px;
				font-size: 20px; color: black; font-family: 'Proxima Nova Th'; font-weight: normal;
				.avatar {
					position: absolute; top: 0; left: 0; z-index: 2;
					margin-right: 5px; 
					border-radius: 50%;
				}
				a {
					position: absolute; top:-1px; left: -1px; z-index: 3;
					display: block; width: 38px; height: 38px;
					color: #808080; text-align: center; line-height: 38px;
					background: #e3e3e3;
					border-radius: 50%; 
					opacity: 0; 
					transition: opacity 300ms ease-in;
					cursor: pointer;
				}
				>div {
					>span {
						display: block;
					}
					form {
						display: none;
						input {width: 100%; margin: 0; font-size: 15px;}
					}
					
					&.opened {
						>span {display: none;}
						form {display: block;}
					}
				}
				
				&:hover {
					a {opacity: 1;}
				}
			}
			
			ul {
				margin: 0; padding: 0;
				li {
					position: relative; z-index: 1;
					list-style: none;
					padding: 5px 12px 5px 35px; margin: 0 0 10px;
					border: 1px solid #d7d7d7; border-radius: 3px;
					
					h4 {
						margin: 0; padding: 0 25px 0 0;
						font-size: 16px; color: #000; font-weight: bold;
						cursor: pointer;
					}
					p {
						margin: 0 0 3px; padding: 0;
						font-size: 11px; color: #666;
						cursor: pointer;
					}
					form {
						display: none;
						padding: 25px 0;
					}
					.opened {
						form {display: block;}
					}
					.remove-project {
						position: absolute; top: 5px; right: 12px; z-index: 2;
						color: @gray;
						opacity: 0;
						transition: opacity 300ms ease-in;
					}
					.code-icon {
						position: absolute; top: 8px; left: 12px; z-index: 3;
						font-size: 16px; color: #ccc;
						cursor: pointer;
					}
					
					&.passed {
						h4, .meta {text-decoration: line-through;}
					}				
					&:hover {
						.remove-project {opacity: 1;}
					}
					
				}
			}
			
			input {margin-bottom: 10px;}
			
			.add-proj-form {
				form {
					display: none;
				}
				button.round-btn {
					transition: all 300ms ease;
				}
				.opened {
					form {display: block;}
					button.round-btn {
						transform: rotate(45deg);
					}
				}
			}
			
			@media screen and (min-width: 1021px) {
				&:nth-child(4n + 4) {border-right: none;}
			}			
			@media screen and (max-width: 1021px) {
				width: 33%;
				&:nth-child(4n + 4) {border-right: 1px solid lighten(@gray, 5%);}
				&:nth-child(3n + 3) {border-right: none;}
			}			
			@media screen and (max-width: 891px) {
				width: 50%;
				&:nth-child(3n + 3) {border-right: 1px solid lighten(@gray, 5%)};
				&:nth-child(2n + 2) {border-right: none;}
			}
			@media screen and (max-width: 481px) {
				width: 100%;
				border-right: none;
			}
		}
		
		@media screen and (max-width: 481px) {
			padding: 10px;
		}
	}
}

.btn {
	display: inline-block; vertical-align: middle; 
	padding: 2px 10px;
	font-size: 18px; font-family: 'Proxima Nova Lt'; color: darken(@gray, 80%); 
	background: rgba(222, 222, 222, 0.45);
	border: 1px solid @gray; border-radius: 2px; 
	cursor: pointer;
	
	&.icon-btn {
		height: 31px;
		padding: 3px 10px; 
		color: #dedede; 
		background: white; 
		border-color: #d6d6d6;
	}
	
	&:hover {background: darken(@gray, 20%); color: white;}
	&[disabled] {
		opacity: 0.7;
		color: darken(@gray, 80%);
		background: none;
		&:hover {
			color: darken(@gray, 80%);
			background: none;
		}
	}
}
.round-btn {
	display: inline-block; vertical-align: middle;
	width: 38px; height: 37px;
	padding: 0;
	color: white; font-size: 19px; text-align: center; line-height: 38px;
	background: @gray;
	border-radius: 50%; border: none;
	outline: none;
}